<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodexBit.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
</head>

<body>
    <header class="border-bottom p-2 row text-center align-items-center">
        <div class="col">
        </div>
        <div class="col">
            <a class="blog-header-logo text-body-emphasis text-decoration-none" asp-area="" asp-controller="Post"
                asp-action="Index">C0dexB1t</a>
        </div>
        <div class="col d-flex text-center align-items-center justify-content-center">
            <div class="dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    var user = await UserManager.GetUserAsync(User);
                    <button class="btn btn-secondary dropdown-toggle d-block shadow" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        @user.UserName
                        <i class="bi bi-person-circle"></i>                        
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end p-2">
                        <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/account/profile" role="button">
                            <i class="bi bi-person-lines-fill"></i>
                            Perfil</a></li>
                        <li><a class="dropdown-item d-flex gap-2 align-items-center" href="/create" role="button">
                            <i class="bi bi-file-earmark-plus-fill"></i>
                            Criar Post</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="account/logout" method="post">
                                <button type="submit" class="dropdown-item dropdown-item-danger d-flex gap-2 align-items-center">
                                    <i class="bi bi-box-arrow-left"></i>
                                    Sair</button>
                            </form>
                        </li>
                    </ul>

                    
                }
                else
                {
                    <a href="/account/login" class="btn btn-outline-primary d-flex gap-2 align-items-center" role="button">Entrar</a>                      
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2025 - CodexBit - <a href="https://github.com/Matozo0">Github</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
